body {
    font-family: 'Arial', sans-serif; 
    max-width: 100ch;  
    margin-inline: auto;  
    padding: 0 1rem; 
  }
  
nav ul {
    display: contents;  
  }
  
nav li {
    display: contents;  
  }

 
:root {
    --color-accent: oklch(65% 60% 0); 
  }
  

html {
    accent-color: var(--color-accent);  
    }


nav a {
    flex: 1;
    text-decoration: none;         
    color: inherit;                 
    text-align: center;              
    padding: 0.5em;             
    margin-bottom: 1em;              
  }


nav {
    display: flex;                  
    margin-bottom: 1rem;       
    border-bottom: 1px solid hsl(0 0% 80%);  
  }
  
 
 nav a.current {
    font-weight: bold;  
    color: #0073e6;  
    border-bottom: 0.4em solid hsl(0 0% 60%);  
    padding-bottom: 0.2em;           
  }


nav a:hover {
    border-bottom: 0.4em solid var(--color-accent);  
    padding-bottom: 0.2em;  
  }


form {
    display: grid;             
    grid-template-columns: auto 1fr;                  
    gap: 1em;  /* Ensures consistent space between all form fields */
}

label {
    grid-column: 1 / -1;         
    display: grid;    
    font-weight: bold; 
    grid-template-columns: subgrid; 
}

input, textarea, button {
    display: block;
    font: inherit;  
    width: 100%;  
    margin-block: 0.5em;
    padding: 0.75em;
    /*margin-bottom: 1em;  *//* Adds space below each input/textarea/button */
}

button {
    font-weight: bold;
}

form {
    gap: 1em;   
}

  
  
  